root: {
  --textColor: #fffff8;
  --paddingColor: #d8948c;
  --paddingXyz: 24px;
  --borderStuff: 2px solid #fffff8;
}


.header {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.initialView {
  color: #fffff8;
  background-color: #de9e86;
  margin: 32px;
  padding: 20px;
  border: 1px solid #fffff8;
  opacity: 80%;
}

.title {
  font-family: autumn-in-november;
  font-size: 40px;
}

.motto {
  font-size: 20px;
}
