.lineDecorEverywhere {
  height: 100%;
  width: 100%;
  position: fixed;
}

.lineContainer {
  display: flex;
  justify-content: center;
  top: 0;
  left: 0;
  margin: 30px;
  width: 100%;
  height: 100px;
  align-items: center;
}

.allLines {
  background-color: #fffff8;

}

.horizontalOne {
  height: 4px;
  width: 75vw;
}

.verticleRightOne {
  height: 80px;
  width: 4px;
  transform: translate(-25px, 20px);
}

.verticleRightTwo {
  width: 4px;
  height: 40px;
  transform: translate(-40px, 20px);
}

.verticleRightThree {
  width: 4px;
  height: 40px;
  transform: translate(-20px, 20px);
}

.verticleLeftOne {
  height: 80px;
  width: 4px;
  transform: translate(-25px, 20px);
}

.verticleLeftTwo {
  width: 4px;
  height: 40px;
  transform: translate(-40px, 20px);
}

.verticleLeftThree {
  width: 4px;
  height: 40px;
  transform: translate(-20px, 20px);
}
