root: {
  --textColor: #fffff8;
  --paddingColor: #d8948c;
  --paddingXyz: 24px;
  --wallpaper: url('./images/jumbo-leaves.jpg');
}

@font-face {
    font-family: autumn-in-november;
    src: url('./assets/autumn-in-november/autumn-in-november.ttf');
}

html {
  margin:0;
  padding:0;
  overflow:hidden
}

body {
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-weight: lighter;
  text-align: center;
  background-image: url('./images/jumbo-leaves.jpg');
  background-size: cover;
  position: fixed;
  top: 0;
  left: 0;
  margin:0;
  padding:0;
  overflow:hidden;
}


svg {
  position:fixed;
  top:0;
  left:0;
  height:100%; width:100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
  height: 700px;
  width: 100%;
  background-color: var(--paddingColor);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
